body{
  padding: 0;
  margin: 0;
}

.side-nav{
  position: absolute;
  width: 25vw;
  height: 100vh;
  top:0;
  left: -1000px;
  background-color:#d1ccdc;
  padding: 10px;
}
.side-nav.active{
  left:0px;
}
.side-nav ul{
  list-style: none;
  padding: 0;
}
.side-nav ul li{
  border-bottom:1px solid #5f737e;
  padding:10px 0px;
}
.side-nav ul li a{
  text-decoration: none;
  color:black;
}
.side-nav input{
  border:none;
  border-radius: 2px;
  height: 25px;
  width: 100%;
}
div.main-top{
  display: flex;
  justify-content: center;
  background-color: #5f737e;
  padding: 5px
}
.logo-border{
  padding: 20px;
  border:5px solid #c1edcc;
  border-radius: 100%;
}
i.fas.fa-dog{
  font-size: 50px;
  color:#c1edcc;

}

#feed{
  margin-top:10px;
}

#feed section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.feedInfo{
  padding: 5px;
  width: 40vw;
  border:1px solid black;
  border-radius: 3px;
  margin: 5px 20px;
}
.posterInfo{
  display: flex;
}
.posterInfo img{
  width: 20%;
  border-radius: 100%;
  margin-right: 10px;

}

.post img{
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
}
